

<h1 class="display-1">@ViewData["CodeEdu"]</h1>
<h1 class="display-1">@TempData["CodeEduAz"]</h1>


<h1 class="display-1">@ViewData["CodeEdu1"]</h1>
<h1 class="display-1">@TempData["CodeEduAz1"]</h1>