@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-5">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Units in stock</th>
                    <th>Units Price</th>
                </tr>
            </thead>
            <tbody id="products">
            </tbody>
        </table>
    </div>
</div>