<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login_Register_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Chat.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Login_Register_App.styles.css" asp-append-version="true" />
    <link href="~/https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
    <vc:navbar></vc:navbar>  
    </header>
    <div class="container">
        <main role="main" class="pb-4 mb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="  footer text-muted mt-4 pt-4   ">
        <div class="container">
            &copy; 2022 - Login_Register_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> 
    <script src="~/js/popper.js"></script> 
    <script src="~/js/main.js"></script>
    <script src="~/microsoft-signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
