@model string

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Home">Home </a>
            </li>
            @if (Model != "register" && Model != "login")
  {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Login" asp-controller="Auth">Login</a>
                </li>
  } 
            @if (Model != "register" && Model != "login")
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Register" asp-controller="Auth">Register</a>
                </li>
            }
            @if (Model == "login")
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Profile" asp-controller="Home">Profile</a>
                </li>
            }
            @if (Model == "login")
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="LogOut" asp-controller="Auth">LogOut</a>
                </li>
            }




        </ul>
    </div>
</nav>