<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<header>
    <h1>Header</h1>
</header>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<footer>
    <h1>Footer</h1>
</footer>
</html>
