
@model bool

<section class="ftco-section">
	<div class="container-fluid">
		
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Login </h2>
			</div>
			
		</div>
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					<div class="img" style="background-image: url(@Url.Content("~/images/bg-1.jpg"));">
					</div>
					<div class="login-wrap p-4 p-md-5">
						<div class="d-flex">
							<div class="w-100">
								<h3 class="mb-4">Sign In</h3>
							</div>
							<div class="w-100">
								<p class="social-media d-flex justify-content-end">
									<a href="~/#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
									<a href="~/#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
								</p>
							</div>
						</div>
						<form asp-action="Login" class="signin-form">
							<div class="form-group mb-3">
								<label class="label" for="name">Username</label>
								<input type="text" class="form-control" name="UserName" placeholder="Username" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Password</label>
								<input type="password" class="form-control" name="Password" placeholder="Password" required>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
								@if (!Model)
								{
									<p class="text-danger">
										User does not Exists
									</p>
								}
							</div>
						</form>
						<p class="text-center">Not a member? <a data-toggle="tab" asp-action="Register" >Sign Up</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
